/* BASIC STYLES HERE */
.bgImage {
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
background-blend-mode: multiply;
}
.quote{
    color: white
}
.weather{
    color: white;

}
.clock {
    color: white;
    font-size: 120pt;
    padding: -15px;
    
    
}
.name{
    color: white;
    font-size: 20pt;
    padding: 5px;
}
.to-do{
    color: white;
    font-size: 20pt;
    padding: 5px;
}
.inp {
    border:none;
    border-bottom: 3px solid #ffffff;
    padding: 10px 10px;
    outline: none;
    background-color: transparent;
    color: white;
 }
.card{
    color: white;
    background-color: transparent;

}
.img-tag{
    color: white;
}
.city{
    color: white;
}